<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.business.mapper.FFpurPatentryMapper">

    <select id="selectByCondition" parameterType="com.ruoyi.business.k3.domain.entity.FFpurPatentry" resultType="com.ruoyi.business.k3.domain.entity.FFpurPatentry">
        SELECT
        ff.id,ff.f_number,s.name as f_supplier_id,m.number as f_material_id,ff.fmaterial_name,ff.FFROMQTY,ff.f_to_qty,ff.f_after_price,ff.f_after_tax_price,ff.f_effective_date,
        ff.f_expiry_date,ff.f_currency_id,f_after_price_coefficient
        FROM f_fpur_patentry ff
        INNER JOIN supplier s ON ff.f_supplier_id = s.supplierid
        INNER JOIN by_material m ON ff.f_material_id = m.k3_id
        WHERE ff.f_number = #{fNumber}
    </select>

</mapper>
