<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.KdSalesStockoutEntryMapper">

    <!-- 根据主表 ID 查询明细列表 -->
    <select id="selectByMainId" resultType="com.ruoyi.business.entity.KdSalesStockoutEntry">
        SELECT
            t.FEntryID,
            t.FID,
            t.F_khhh,
            t.F_sfbg,
            t.FCustMatID,
            t.FCustMatName,
            t.FMaterialID,
            t.FMaterialName,
            t.FMateriaModel,
            t.F_cty_BaseProperty1,
            t.FMustQty,
            t.FRealQty,
            t.FPrice,
            t.FTaxPrice,
            t.FIsFree,
            t.FLot,
            t.FSoorDerno,
            t.F_cghth,
            t.FAllAmount,
            t.FStockID,
            t.FStockStatusID,
            t.FQualifyType,
            t.FMtoNo,
            t.FEntrynote,
            t.FSumReceivedAMT,
            t.F_c,
            t.F_k,
            t.F_g,
            t.F_tj,
            t.F_mz,
            t.F_jz,
            t.F_mzz,
            t.F_xs,
            t.F_zxs,
            t.F_gys,
            t.F_cgdj,
            t.F_cgzj,
            t.F_jdj,
            t.F_jdzj,
            t.F_fpdj,
            t.F_fpzj,
            t.F_zwbgpm,
            t.F_ywbgpm,
            t.F_bgsl,
            t.F_BGZT,
            t.F_HYJSSL,
            t.F_ddhsdj,
            t.F_tsl,
            t.Fddshrq,
            t.Fckzq,
            t.Fzdrq,
            t.Fbcgctg,
            t.Fbcykc,
            t.Fypd,
            t.F_PEUU_BaseProperty_83g,
            t.create_time,
            t.update_time
        FROM t_kd_sales_stockout_entry t
        WHERE t.FID = #{fid}
        ORDER BY t.create_time DESC
    </select>

    <!-- 批量插入明细 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO t_kd_sales_stockout_entry (
            FEntryID,
            FID,
            F_khhh,
            F_sfbg,
            FCustMatID,
            FCustMatName,
            FMaterialID,
            FMaterialName,
            FMateriaModel,
            F_cty_BaseProperty1,
            FMustQty,
            FRealQty,
            FPrice,
            FTaxPrice,
            FIsFree,
            FLot,
            FSoorDerno,
            F_cghth,
            FAllAmount,
            FStockID,
            FStockStatusID,
            FQualifyType,
            FMtoNo,
            FEntrynote,
            FSumReceivedAMT,
            F_c,
            F_k,
            F_g,
            F_tj,
            F_mz,
            F_jz,
            F_mzz,
            F_xs,
            F_zxs,
            F_gys,
            F_cgdj,
            F_cgzj,
            F_jdj,
            F_jdzj,
            F_fpdj,
            F_fpzj,
            F_zwbgpm,
            F_ywbgpm,
            F_bgsl,
            F_BGZT,
            F_HYJSSL,
            F_ddhsdj,
            F_tsl,
            Fddshrq,
            Fckzq,
            Fzdrq,
            Fbcgctg,
            Fbcykc,
            Fypd,
            F_PEUU_BaseProperty_83g,
            create_time,
            update_time
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.fentryID},
                #{item.fid},
                #{item.fKhhh},
                #{item.fSfbg},
                #{item.fCustMatID},
                #{item.fCustMatName},
                #{item.fMaterialID},
                #{item.fMaterialName},
                #{item.fMateriaModel},
                #{item.fCtyBaseProperty1},
                #{item.fMustQty},
                #{item.fRealQty},
                #{item.fPrice},
                #{item.fTaxPrice},
                #{item.fIsFree},
                #{item.fLot},
                #{item.fSoorDerno},
                #{item.fCghth},
                #{item.fAllAmount},
                #{item.fStockID},
                #{item.fStockStatusID},
                #{item.fQualifyType},
                #{item.fMtoNo},
                #{item.fEntrynote},
                #{item.fSumReceivedAMT},
                #{item.fC},
                #{item.fK},
                #{item.fG},
                #{item.fTj},
                #{item.fMz},
                #{item.fJz},
                #{item.fMzz},
                #{item.fXs},
                #{item.fZxs},
                #{item.fGys},
                #{item.fCgdj},
                #{item.fCgzj},
                #{item.fJdj},
                #{item.fJdzj},
                #{item.fFpdj},
                #{item.fFpzj},
                #{item.fZwbgpm},
                #{item.fYwbgpm},
                #{item.fBgsl},
                #{item.fBGZT},
                #{item.fHYJSSL},
                #{item.fDdhsdj},
                #{item.fTsl},
                #{item.fddshrq},
                #{item.fckzq},
                #{item.fzdrq},
                #{item.fbcgctg},
                #{item.fbcykc},
                #{item.fypd},
                #{item.fPEUUBaseProperty83g},
                NOW(),
                NOW()
            )
        </foreach>
    </insert>

    <!-- 根据主表 ID 删除明细 -->
    <delete id="deleteByMainId">
        DELETE FROM t_kd_sales_stockout_entry
        WHERE FID = #{fid}
    </delete>

</mapper>
