<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.business.mapper.PriceListMapper">

    <!-- 新增价目表 -->
    <insert id="insertPriceList"
            parameterType="com.ruoyi.business.entity.PriceList"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO price_list
        (
            priceListId, FName, FNumber, FDescription, FCurrencyID, FSupplierID, F_GYSLB,
            FPricer, FPriceObject, FPriceType, created_at, updated_at
        )
        VALUES
        (
            #{priceListId},
            <if test="FName != null">#{FName}</if><if test="FName == null">NULL</if>,
            <if test="FNumber != null">#{FNumber}</if><if test="FNumber == null">NULL</if>,
            <if test="FDescription != null">#{FDescription}</if><if test="FDescription == null">NULL</if>,
            <if test="FCurrencyID != null">#{FCurrencyID}</if><if test="FCurrencyID == null">NULL</if>,
            <if test="FSupplierID != null">#{FSupplierID}</if><if test="FSupplierID == null">NULL</if>,
            <if test="F_GYSLB != null">#{F_GYSLB}</if><if test="F_GYSLB == null">NULL</if>,
            <if test="FPricer != null">#{FPricer}</if><if test="FPricer == null">NULL</if>,
            <if test="FPriceObject != null">#{FPriceObject}</if><if test="FPriceObject == null">NULL</if>,
            <if test="FPriceType != null">#{FPriceType}</if><if test="FPriceType == null">NULL</if>,
            NOW(), NOW()
        )
    </insert>

    <!-- 修改价目表（仅更新非空字段） -->
    <update id="updatePriceList" parameterType="com.ruoyi.business.entity.PriceList">
        UPDATE price_list
        <set>
            <if test="FName != null and FName != ''">FName = #{FName},</if>
            <if test="FNumber != null and FNumber != ''">FNumber = #{FNumber},</if>
            <if test="FDescription != null and FDescription != ''">FDescription = #{FDescription},</if>
            <if test="FCurrencyID != null">FCurrencyID = #{FCurrencyID},</if>
            <if test="FSupplierID != null">FSupplierID = #{FSupplierID},</if>
            <if test="F_GYSLB != null">F_GYSLB = #{F_GYSLB},</if>
            <if test="FPricer != null">FPricer = #{FPricer},</if>
            <if test="FPriceObject != null and FPriceObject != ''">FPriceObject = #{FPriceObject},</if>
            <if test="FPriceType != null and FPriceType != ''">FPriceType = #{FPriceType},</if>
            updated_at = NOW()
        </set>
        WHERE priceListId = #{priceList.priceListId}
    </update>



    <!-- 根据编码删除价目表 -->
    <delete id="deleteByNumber">
        DELETE FROM price_list WHERE FNumber = #{FNumber}
    </delete>

    <!-- 根据ID查询价目表 -->
    <select id="selectById" resultType="com.ruoyi.business.entity.PriceList">
        SELECT
            id, FName, FNumber, FDescription, FCurrencyID, FSupplierID, F_GYSLB,
            FPricer, FPriceObject, FPriceType, updated_at AS updatedAt
        FROM price_list
        WHERE id = #{id}
    </select>

    <!-- 根据编码查询价目表 -->
    <select id="selectByNumber" resultType="com.ruoyi.business.entity.PriceList">
        SELECT
        pl.id,
        pl.fnumber,
        pl.FName,
        sp.NAME AS FSupplierID,
        b.number as FMaterialId,
        ple.FMaterialName,
        pl.priceListId,
        pl.FNumber,
        pl.FPriceType,
        pl.FCurrencyID,
        pl.FPriceObject,
        ple.F_GGSM,
        ple.FTaxPrice,
        ple.F_WBZC,
        ple.F_WBZK,
        ple.F_WBZG,
        ple.F_MZ,
        ple.F_JZ,
        ple.F_GCHH,
        ple.F_bzsm,
        ple.FEntryEffectiveDate,
        ple.FEntryExpiryDate
        FROM
        price_list pl
        LEFT JOIN price_list_entry ple on pl.FNumber = ple.price_list_number
        LEFT JOIN by_material b on ple.FMaterialId = b.k3_id
        LEFT JOIN bymaterial_dictionary bm ON pl.FCurrencyID = bm.kingdee
        AND bm.category = 'currency'
        LEFT JOIN bymaterial_dictionary bd ON pl.F_GYSLB = bd.kingdee
        AND bd.category = 'Supply_category'
        LEFT JOIN bymaterial_dictionary bld ON pl.FPriceType = bld.kingdee
        AND bld.category = 'price_type'
        LEFT JOIN supplier sp ON pl.FSupplierID = sp.supplierid
        WHERE
        pl.id = #{id}
        LIMIT 1
    </select>

    <!-- 根据供应商ID查询价目表 -->
    <select id="selectBySupplierId" resultType="com.ruoyi.business.entity.PriceList">
        SELECT
            pl.id,
            pl.priceListId,
            pl.FName,
            pl.FNumber,
            pl.FDescription,
            bm.NAME AS FCurrencyID,
            sp.NAME AS FSupplierID,
            bd.name AS F_GYSLB,
            pl.FPricer,
            pl.FPriceObject,
            bld.name as FPriceType,
            pl.createdBy,
            pl.updated_at AS updatedAt
        FROM
            price_list pl
                LEFT JOIN bymaterial_dictionary bm ON pl.FCurrencyID = bm.kingdee
                AND bm.category = 'currency'

                LEFT JOIN bymaterial_dictionary bd ON pl.F_GYSLB = bd.kingdee
                AND bd.category = 'Supply_category'

                LEFT JOIN bymaterial_dictionary bld ON pl.FPriceType = bld.kingdee
                AND bld.category = 'price_type'

                LEFT JOIN supplier sp ON pl.FSupplierID = sp.supplierid
        WHERE FSupplierID = #{supplierId}
        ORDER BY pl.created_at DESC
    </select>

    <!-- 根据供应商类别查询价目表 -->
    <select id="selectBySupplierCategory" resultType="com.ruoyi.business.entity.PriceList">
        SELECT
            pl.id,
            pl.priceListId,
            pl.FName,
            pl.FNumber,
            pl.FDescription,
            bm.NAME AS FCurrencyID,
            sp.NAME AS FSupplierID,
            bd.name AS F_GYSLB,
            pl.FPricer,
            pl.FPriceObject,
            bld.name as FPriceType,
            pl.createdBy,
            pl.updated_at AS updatedAt
        FROM
            price_list pl
                LEFT JOIN bymaterial_dictionary bm ON pl.FCurrencyID = bm.kingdee
                AND bm.category = 'currency'

                LEFT JOIN bymaterial_dictionary bd ON pl.F_GYSLB = bd.kingdee
                AND bd.category = 'Supply_category'

                LEFT JOIN bymaterial_dictionary bld ON pl.FPriceType = bld.kingdee
                AND bld.category = 'price_type'

                LEFT JOIN supplier sp ON pl.FSupplierID = sp.supplierid
        WHERE F_GYSLB = #{supplierCategory}
        ORDER BY pl.created_at DESC
    </select>

    <!-- 分页查询价目表 -->
    <select id="selectPage" resultType="com.ruoyi.business.entity.PriceList">
        WITH ranked AS (
        SELECT
        pl.id,
        pl.fnumber,
        pl.FName,
        sp.NAME AS FSupplierID,
        b.number AS FMaterialId,
        ple.FMaterialName,
        pl.priceListId,
        pl.FPriceType,
        pl.FCurrencyID,
        pl.FPriceObject,
        ple.F_GGSM,
        ple.FTaxPrice,
        ple.F_WBZC,
        ple.F_WBZK,
        ple.F_WBZG,
        ple.F_MZ,
        ple.F_JZ,
        ple.F_GCHH,
        ple.F_bzsm,
        ple.FEntryEffectiveDate,
        ple.FEntryExpiryDate,
        ROW_NUMBER() OVER (PARTITION BY pl.id ORDER BY ple.FEntryEffectiveDate DESC) AS rn
        FROM price_list pl
        LEFT JOIN price_list_entry ple ON pl.FNumber = ple.price_list_number
        LEFT JOIN by_material b ON ple.FMaterialId = b.k3_id
        LEFT JOIN bymaterial_dictionary bm ON pl.FCurrencyID = bm.kingdee AND bm.category = 'currency'
        LEFT JOIN bymaterial_dictionary bd ON pl.F_GYSLB = bd.kingdee AND bd.category = 'Supply_category'
        LEFT JOIN bymaterial_dictionary bld ON pl.FPriceType = bld.kingdee AND bld.category = 'price_type'
        LEFT JOIN supplier sp ON pl.FSupplierID = sp.supplierid
        ${ew.customSqlSegment}  <!-- 动态条件，由Wrapper构建 -->
        )
        SELECT
        id, fnumber, FName, FSupplierID, FMaterialId, FMaterialName,
        priceListId, FPriceType, FCurrencyID, FPriceObject,
        F_GGSM, FTaxPrice, F_WBZC, F_WBZK, F_WBZG, F_MZ, F_JZ,
        F_GCHH, F_bzsm, FEntryEffectiveDate, FEntryExpiryDate
        FROM ranked
        WHERE rn = 1;
    </select>

    <select id="selectByMaterialId" resultType="com.ruoyi.business.dto.PriceListDTO">
        SELECT
            suer.NAME AS FSupplierName,
            ple.FMaterialName,
            ple.F_bzsm,
            ple.FPrice,
            ple.FTaxPrice,
            bydy.name as FCurrencyID,
            ple.FDownPrice,
            ple.F_dzshqdl,
            ple.F_QDL,
            byd.name as F_GYSLB,
            ple.F_BCGG,
            ple.FEntryExpiryDate,
            ple.fentryEffectiveDate,
            ple.Fxjr
        FROM
            price_list_entry ple
                LEFT JOIN price_list pl ON ple.price_list_number = pl.FNumber
                LEFT JOIN supplier suer ON pl.FSupplierID = suer.supplierid
                LEFT JOIN bymaterial_dictionary byd ON pl.F_GYSLB = byd.kingdee and  byd.category='Supply_category'
                LEFT JOIN bymaterial_dictionary bydy ON pl.FCurrencyID = bydy.kingdee and  bydy.category='currency'
        WHERE ple.FMaterialId = #{materialId}
        ORDER BY ple.FPrice ASC;
    </select>
</mapper>
